---
layout: default
title: Eugene Wang
---

{% assign index = true %}
<div itemscope itemtype="http://schema.org/Blog">
{% for post in paginator.posts %}
    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="meta">
    {% if post.date %}
    <span class="date">
        <time datetime="{{ post.date | datetime | date_to_xmlschema }}" itemprop="datePublished" 
            {% if post.updated %}data-updated="true"{% endif %}>
            {{ post.date | date: "%b %e, %Y" }}
        </time>
    </span>
    {% endif %}

	<div class="tags">{% include post/categories.html %}</div>
	{% if site.disqus_short_name and site.disqus_show_comment_count == true %}
		<span class="comments"><a href="{{ post.url }}#disqus_thread">Comments</a></span>
	{% endif %}
</div>
<h1 class="title" itemprop="name">
	<a href="{{ post.url }}" itemprop="url">
	{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}
	</a>
</h1>
<div class="entry-content" itemprop="articleBody">
	{{ post.excerpt }}
	<a href="{{ post.url }}" class="more-link">{{ site.excerpt_link }}</a>
</div>
    </article>
{% endfor %}
</div>
<nav id="pagenavi">
    {% if paginator.previous_page %}
	    {% if paginator.previous_page == 1 %}
		<a href="/" class="prev">上一页</a>
	    {% else %}
		<a href="/page{{paginator.previous_page}}" class="prev">上一页</a>
	    {% endif %}    
    {% endif %}
    {% if paginator.next_page %}
        <a href="/page{{paginator.next_page}}" class="next">下一页</a>
    {% endif %}
    <div class="center"><a href="/archive.html">文章归档</a></div>
</nav>
